<main>
    <div class="p-2">
        <span class="float-right">
            <button (click)="showInfo()" class="btn btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-8">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                </svg>
            </button>

        </span>
        <h1 class="text-xl">Skull King</h1>
    </div>
    <div class="flex flex-row flex-wrap gap-2 justify-left ml-2">
        <button (click)="addPlayer()" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
        </button>

        <button (click)="showMakeBid()" [disabled]="!showBidButton()"
            class="btn btn-outline uppercase">Bid</button>

        <button (click)="showScoreRound()" [disabled]="!showScoreRoundButton()"
            class="btn btn-outline uppercase">Score round</button>

        <button (click)="showLeaderboard()" [disabled]="players().length < 2"
            class="btn btn-outline uppercase">Leaderboard</button>

        <button (click)="resetScores()" class="btn btn-error uppercase">reset</button>
    </div>

    <div id="scoreboard" class="overflow-x-auto">
        <table class="table table-zebra table-sm text-lg">
            <thead>
                <tr>
                    <td></td>
                    @for (player of players(); track player.Id) {
                    <td>
                        <span class="inline-block">
                            @if (player.IsStartingPlayer) {
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <circle cx="12" cy="9" r="7.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M11 8.5 12 7.5v5" />
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m9 15.5-1.5 5.25 4.5-1.5 4.5 1.5-1.5-5.25" />
                            </svg>
                            }
                        </span>
                        <span>{{player.Name}}</span>
                    </td>
                    }
                </tr>
            </thead>
            <tbody>

                @if (players().length > 0) {
                @for (round of players()[0]?.rounds; track $index) {
                <tr>
                    
                    <td><strong>{{$index + 1}}</strong></td>
                    @for (player of players(); track player.Id) {
                    <td><strong><span class="bg-accent p-1">{{ player.rounds[currentRound()].bid }}</span>
                        /<span class="p-1 {{ player.rounds[currentRound()].bid === player.rounds[currentRound()].made ? 'bg-success':''}}">{{ player.rounds[currentRound()].made }}</span></strong> {{ player.rounds[currentRound()].bidPoints + player.rounds[currentRound()].bonusPoints }}</td>
                    }
                </tr>
                }

                }
            </tbody>
        </table>
    </div>
</main>

<app-dock (reloadRequested)="doReload()" (settingsRequested)="showSettings()" (infoRequested)="showInfo()"
    (logRequested)="showLog()" (scriptSettingsRequested)="showScriptSettings()"></app-dock>

<dialog #dialogInfo class="modal">
    <div class="modal-box">
        <h2 class="text-lg border-b-2 mb-1">Welcome to Skull King</h2>

        <p class="mt-2 mb-2 text-neutral-600">
            Info text placeholder
        </p>
        <form method="dialog">
            <button class="btn btn-outline mt-2 w-full">Close</button>
        </form>
    </div>
</dialog>

<dialog #dialogLog class="modal">
    <div class="modal-box">
        <h2 class="text-lg border-b-2 mb-1">Game log</h2>
        <button (click)="clearLog()" class="btn btn-xs btn-neutral uppercase float-right">clear log</button>
        @for (item of this.log; track $index) {
        <span>{{item.DateStamp | date:'shortTime'}}</span>: <span>{{item.Text}}</span><br />
        }
        <form method="dialog">
            <button class="btn btn-outline mt-2 w-full">Close</button>
        </form>
    </div>
</dialog>

<dialog #dialogSettings class="modal">
    <div class="modal-box">
        <h2 class="text-lg border-b-2 mb-1">Settings</h2>
        <div class="flex-col">
            <div>
                <input type="checkbox" id="autoAdvanceOnScoreUpdate" class="checkbox-neutral"
                    [(ngModel)]="settings().autoAdvanceOnScoreUpdate" />
                <label for="autoAdvanceOnScoreUpdate" class="label text-xs m-1">Auto-advance turn on score
                    update</label>
            </div>
            <div>
                <input type="checkbox" id="autoOpenEditScoreOnAdvance" class="checkbox-neutral"
                    [(ngModel)]="settings().autoOpenEditScoreOnAdvance" />
                <label for="autoOpenEditScoreOnAdvance" class="label text-xs m-1">Open Edit Score on turn
                    advance</label>
            </div>
            <div class="flex justify-between mt-2">
                <button (click)="resetSettings()" class="btn btn-warning">Reset to defaults</button>
                <button (click)="saveSettings()" class="btn btn-primary">Close</button>
            </div>
            <form method="dialog"></form>
        </div>
    </div>
</dialog>

<!-- <dialog #dialogScriptSettings class="modal">
    <app-trigger-settings (closeDialogRequested)="closeScriptSettingsDialog()"
        [settingsType]="settingsType"></app-trigger-settings>
</dialog> -->

<dialog #dialogAddPlayer class="modal">
    <div class="modal-box">
        <div class="flex-col">
            <input #inputAddName placeholder="Player name" value="" (keyup.enter)="confirmAddPlayer()"
                class="input w-full" />
            <button (click)="confirmAddPlayer()" class="btn btn-primary mt-2 w-full">
                Confirm
            </button>
            <form method="dialog">
                <button class="btn btn-outline mt-2 w-full">Close</button>
            </form>
        </div>
    </div>
</dialog>

<dialog #dialogLeaderboard class="modal">
    <div class="modal-box">
        <div class="flex-col">
            <p>
                @for (player of getPlayersByScoreDescending(); track $index) {
                @if($index === 0) {
            <div>{{$index + 1}}. <strong>{{player.Name}}</strong> {{player.Score}}</div>
            } @else {
            <div>{{$index + 1}}. <strong>{{player.Name}}</strong> {{player.Score}}
                <span class="text-neutral-300">({{ getPlayersByScoreDescending()[0].Score - player.Score }} from
                    leader)</span>
            </div>
            }
            }
            </p>
            <form method="dialog">
                <button class="btn btn-outline mt-2 w-full">Close</button>
            </form>
        </div>
    </div>
</dialog>

<dialog #dialogBid class="modal">
    <div class="modal-box">
        <h2 class="text-lg border-b-2 mb-1">Make your bids</h2>

        <p class="mt-2 mb-2 text-neutral-600">
            @for (player of players(); track player.Id) {
                <div>
                    <div>{{ player.Name }}</div>
                    <div class="flex flex-row gap-1">
                    @for (label of bidLabels(); track $index) {
                        <button (click)="setBid(player.Id, $index)"
                        class="btn btn-sm btn-outline {{ player.rounds[currentRound()].bid === $index ? 'bg-accent':'' }}">{{$index}}</button>
                    }
                    </div>
                </div>
            }
        </p>
        <form method="dialog">
            <button class="btn btn-outline mt-2 w-full">Close</button>
        </form>
    </div>
</dialog>

<dialog #dialogScoreRound class="modal">
    <div class="modal-box">
        <h2 class="text-lg border-b-2 mb-1">Score round {{ currentRound() }}</h2>

        <p class="mt-2 mb-2 text-neutral-600">
            Placeholder
        </p>
        <form method="dialog">
            <button class="btn btn-outline mt-2 w-full">Close</button>
        </form>
    </div>
</dialog>